* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  /* list-style-type:none; */
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: bisque;
  font-size: 1.02rem;
}
.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  /* margin: 100px 0; */
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
  margin-top: 10px;
}
.leftSection .buttons{
  padding:23px 8;
}
.leftSection .btn{
  padding:12px;
  background-color: rgb(91, 91, 238);
  color:white;
  border:2px solid rgb(168, 168, 240);
  border-radius: 10px;
  cursor:pointer;
}
.leftSection .btn:hover {
    background-color: rgb(0, 0, 33);
    color: rgb(91, 91, 238);
}
.btn2{
    margin-left:10px;
}
.rightSection img {
    width: 78%;
    margin: -2px 0;
    height: 83%;
}
.firstSection{
    margin-top: 62px;
}
.text-purple {
  color: rgb(146, 63, 224);
}
.text-gray{
  color:rgb(149, 79, 177);
}
#element{
  color:darksalmon;
}
.secondSection{
  max-width: 80vw;
  margin:auto;
  height:70vh;
}
main hr{
  border:0;
  background: rgb(67, 70, 238);
  height:1px;
  margin:40px 0px;  
}
.secondSection h1{
  font-size:1.7rem;
}
.secondSection .box{
  background: white;
  width:80vw;
  height:2px;
  margin:56px 0;
  display: flex;
}
.secondSection .vertical{
  height:93px;
  width:1px;
  background-color: white;
  margin: 0 125px;
}
.image-top{
  width:23px;
  position:relative;
  top:-32px;
  left:-9px;
}
.vertical-tittle{
  position:relative;
  top:75px;
  width:150px;
  font-size:14px;
  color:rgb(250, 130, 130);
}
.vertical-desc{
  position: relative;
  top:84px;
  color:gray;
  width:150px;
  font-size:15px;
  color:whitesmoke;
}
.left{
  color:beige;
}
footer{
  background-color: rgba(177, 178, 238, 0.418);
  /* padding: 10px; */
  position:sticky;
}
.footer{
  display: flex;
  padding:30px 122px;
  justify-content:space-around;
}
.footer-rights{
  text-align: center;
  color: rgb(86, 233, 28);
}
.footer-list{
  list-style-type:none;
  color:darkgray
}
.btnf:hover{
  background-color: rgb(162, 108, 233);
  cursor:pointer;
}
.btnf{
  color:whitesmoke;
  margin:5px;
  padding:5px;
  border-radius: 10px;
  background-color: rgb(113, 113, 252);
}

@media screen and (max-height: 856px) {
  .secondSection {
    height: 100vh;
  }
}
@media screen and (max-height: 528px) {
  .secondSection {
    height: 110vh;
  }
}
@media screen and (max-height: 480px) {
  .secondSection {
    height: 120vh;
  }
}
@media screen and (max-height: 440px) {
  .secondSection {
    height: 130vh;
  }
}
@media screen and (max-width:1794px){
  .secondSection .vertical {
    margin: 0 110px;
  }
}

@media screen and (max-width:1592px){
  .secondSection .vertical {
    margin: 0 100px;
  }
}

@media screen and (max-width:1486px){
  .secondSection .vertical {
    margin: 0 95px;
  }
}
@media screen and (max-width:1380px){
  .secondSection .vertical {
    margin: 0 90px;
  }
}
@media screen and (max-width:1266px){
  .secondSection .vertical {
    margin: 0 85px;
  }
}
@media screen and (max-width:1216px){
  .secondSection .vertical {
    margin: 0 75px;

  }
}

@media screen and (max-width:1150px){
  .secondSection .vertical {
    margin: 0 71px;
  }
}
@media screen and (max-width:1035px){
  .secondSection .vertical {
    margin: 0 72px;
    /* margin-left:-20px; */
    /* padding:4px; */
  }
  .box{
    /* margin-left: -49px; */
  }
}

@media screen and (max-width:1035px){
  .vertical-desc{
    display:none;
  }
  .vertical-tittle{
    font-size: small;
    margin: 0px;
    padding:0px;
    /* display:flex; */
  }
  .secondSection .vertical{
    /* margin:150px 90px; */
    margin-left:40px;
    height:-24px;
  }
  .box{
    /* display: none; */
  }
  .leftSection{
    font-size: large;
  }
  footer{
    margin-top: -69px;
  }
  .secondSection{
    height:52vh;
  }
  .leftSection .btn{
    margin-top: 40px;;
  }
  .btn2{
    margin-left: 10px;
  }
}
@media screen and (max-width:810px){
  .left{
    display:none;
  }
  footer h3{
    display:none;
  }
  .footer{
    margin-left: -303px;
  }
}
@media screen and (max-width:800px){
  .secondSection{
    margin:0 55px;
  }
}

@media screen and (max-width:800px){
  .secondSection{
    margin:0 55px;
  }
}
@media screen and (max-width:750px){
  .secondSection .box{
    /* border:solid red 1px; */
    /* display:none; */
    /* display:block */
    /* margin:10px 0px; */
  }
  .image-top{
    display:none;
  }
  .secondSection .box{
    height:0px;
    display:flex;
    flex-direction: column;
  }
  .secondSection .vertical{
    /* border:none; */
    width:0px;
    /* height: 0px; */
    /* background-color: red; */
  }
  .vertical-tittle{
    position: relative;
    top: -50px;
    width: 150px;
    /* font-size: 14px; */
    color: rgb(234, 93, 93);
  }
  .secondSection h1{
    margin-top:-35px;
  }
}
@media screen and (max-width:750px){
  .footer{
    padding-right: 28px;
    /* margin-right: -20px; */
  }
}
/* @media screen and (max-width:560px){
  .footer{
    padding-right: 28px;
    margin-right: -100px;
  }
} */
@media screen and (max-width:390px){
  .footer{
    padding-right: 28px;
    margin-right: -68px;
  }

*{
  margin-right:-3px;
}
} 
@media screen and (max-width:300px){
  .footer{
    /* padding-right: 40px; */
    /* margin-right: -70px; */
  }
  .footer-rights{
    display:none;
  }
}
@media screen and (max-width:290px){
  .firstSection .devme{
    display:none;
  }
}

@media screen and (max-width:672px){
  .firstSection .devme{
    /* height: 77%;
    width: 108%; */
    margin-left: -97px;
    margin-right: 47px;
  }
}
@media screen and (max-width:400px){
  .firstSection .devme{
    height: 77%;
    width: 108%;
    padding-right: 0px;
    margin-left: -18px;
    margin-right: 47px;
  }
}
@media screen and (max-width:290px){
  .firstSection .leftSection{
    display:inline;

    font-size:25px;
    /* color:red; */
  }
  footer .fbtns{
    margin-left: 50px;;
  }
}
@media screen and (max-width:495px){
      nav ul li{
    margin: 0 16px;
      }
}

@media screen and (max-width:435px){
  nav ul li{
    margin: 0 10px;
    font-size: small;
  }
}
@media screen and (max-width:335px){
  nav ul li{
    margin: 0 4px;
    font-size: small;
  }
}
@media screen and (max-width:470px){
  .firstSection .devme{
    margin-left: -31px;
  }
  .footer{
    margin-left: -159px;
  }
}